

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="icon" href="/img/fundain_logo.png">
    <script src="/javascript/payment.js" defer></script>
    <link href="/stylesheets/admin.css" rel="stylesheet">

</head>

<body>
    <ul class="tabs">
        <a href="<%=Url%>/dashboard" style="display: contents;"><img src="/img/fundain_logo.png" height="100%" alt="Logo.png"></a>
        <li data-tab-target="#personalInfo" class="active tab">New Group Requests</li>
        <li data-tab-target="#paymentMeth" class="tab">Users</li>


    </ul>

    <div class="tab-content">
        <form action="/forgot" method="post">
            Enter your email <input style="margin-bottom: 10px; width: 280px;" name="emailAddress" type="email" class="fields" placeholder="Email" required><br>
            <button type="submit">Reset</button>
        </form><!DOCTYPE html>
        <html lang="en">
    </div>


</body>

</html>